.my-card {
	padding: 1em;
	width: 100%;
}

.my-controls li button {
	width: 30px;
	height: 30px;
	margin-inline: 15px;
}

.timeline-horz-card-wrapper {
	outline: none !important;
}

.my-card-text {
	margin-left: 0.5rem !important;
	white-space: pre-line;
}

.my-card-text p {
	font-size: 1rem;
}

.my-card-title {
	text-decoration: underline;
}

.my-card-media {
	min-height: 300px !important;
	margin-bottom: 1em;
}
